<h1>Job Openings: </h1>

<h2>@Model.GetTitle()</h2>
<h4>@Model.GetDescription()</h4>
<p>@Model.GetContact()</p>

<a href='/openings/new'>Add another job</a>
<a href='/openings'>View all job openings</a>
